In [1]:
import os
import json

import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
os.chdir("..")

# Parameters

In [3]:
antibiotic_dictionary_file = open("data/antibiotics.json", "r")
antibiotic_dictionary = json.load(antibiotic_dictionary_file)
antibiotics = antibiotic_dictionary["Escherichia coli"]

In [4]:
file = "data/unprocessed/raw/e_coli_driams.csv"

bac = pd.read_csv(file)
bac

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,Clindamycin,Ceftriaxone,Cefepime,Piperacillin-Tazobactam,Meropenem,Imipenem,Tobramycin,Fusidic acid,Oxacillin,Vancomycin
0,743.500000,883.000000,971.666667,1057.500000,1049.0,1002.000000,724.500000,811.333333,803.000000,821.333333,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN
1,112.500000,109.666667,128.500000,86.666667,130.5,90.500000,102.666667,109.000000,86.500000,102.000000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1711.000000,1624.500000,1555.000000,1746.500000,1680.5,1663.333333,1969.000000,1975.500000,1976.000000,1995.500000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,512.333333,472.000000,448.666667,400.000000,480.0,471.666667,401.500000,496.000000,512.333333,537.000000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,715.000000,674.500000,620.333333,568.000000,634.0,614.000000,676.500000,733.333333,898.500000,798.500000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946,2222.000000,2153.500000,2246.666667,2446.500000,2612.5,2556.666667,2431.000000,2214.000000,2059.000000,1915.500000,...,NaN,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
4947,3573.500000,2845.333333,2552.500000,2577.000000,2605.5,2646.000000,2469.000000,2439.000000,2494.666667,2516.500000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4948,0.000000,0.000000,144.000000,182.666667,247.0,231.500000,243.666667,175.000000,154.666667,128.000000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4949,58.000000,31.000000,52.500000,70.000000,63.5,99.000000,105.666667,91.000000,78.666667,104.500000,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4950,61.000000,55.000000,60.333333,72.000000,38.0,47.000000,34.500000,67.666667,71.500000,65.333333,...,NaN,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

# Preprocessing

In [5]:
malditof = bac[bac.columns.drop(list(bac.filter(regex='[^0-9]')))]
malditof

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,743.500000,883.000000,971.666667,1057.500000,1049.0,1002.000000,724.500000,811.333333,803.000000,821.333333,...,220.0,160.5,100.0,131.0,180.0,115.0,91.0,123.0,139.0,34.541475
1,112.500000,109.666667,128.500000,86.666667,130.5,90.500000,102.666667,109.000000,86.500000,102.000000,...,237.0,225.0,196.5,192.0,239.0,261.0,206.0,249.0,231.0,108.593585
2,1711.000000,1624.500000,1555.000000,1746.500000,1680.5,1663.333333,1969.000000,1975.500000,1976.000000,1995.500000,...,536.0,508.0,526.0,621.0,561.0,518.0,574.0,488.0,522.0,175.325443
3,512.333333,472.000000,448.666667,400.000000,480.0,471.666667,401.500000,496.000000,512.333333,537.000000,...,867.0,1047.0,956.0,943.0,1085.0,1066.0,1020.0,842.0,879.0,291.948352
4,715.000000,674.500000,620.333333,568.000000,634.0,614.000000,676.500000,733.333333,898.500000,798.500000,...,111.0,146.0,165.0,108.0,112.0,143.0,106.0,91.0,97.0,37.174491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946,2222.000000,2153.500000,2246.666667,2446.500000,2612.5,2556.666667,2431.000000,2214.000000,2059.000000,1915.500000,...,42.0,42.0,26.0,47.0,37.0,34.0,71.0,54.0,44.0,8.802848
4947,3573.500000,2845.333333,2552.500000,2577.000000,2605.5,2646.000000,2469.000000,2439.000000,2494.666667,2516.500000,...,63.0,59.0,60.0,75.0,97.0,112.5,78.0,90.0,87.0,27.154554
4948,0.000000,0.000000,144.000000,182.666667,247.0,231.500000,243.666667,175.000000,154.666667,128.000000,...,2.0,1.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.836455
4949,58.000000,31.000000,52.500000,70.000000,63.5,99.000000,105.666667,91.000000,78.666667,104.500000,...,99.0,107.0,133.0,151.0,135.0,154.0,174.0,135.0,160.0,42.870570
4950,61.000000,55.000000,60.333333,72.000000,38.0,47.000000,34.500000,67.666667,71.500000,65.333333,...,152.0,161.0,196.0,234.0,178.0,167.0,239.0,232.0,303.0,38.760745

In [6]:
profile = bac[antibiotics]
profile

      Ciprofloxacin  Ceftriaxone  Piperacillin-Tazobactam  Cefepime
0               0.0          1.0                      0.0       1.0
1               0.0          0.0                      0.0       0.0
2               0.0          0.0                      0.0       0.0
3               0.0          0.0                      0.0       0.0
4               0.0          0.0                      0.0       0.0
...             ...          ...                      ...       ...
4946            1.0          1.0                      1.0       0.0
4947            1.0          0.0                      0.0       0.0
4948            0.0          0.0                      0.0       0.0
4949            0.0          0.0                      0.0       0.0
4950            1.0          1.0                      0.0       1.0

[4951 rows x 4 columns]

In [7]:
trimmed_bac = pd.DataFrame(np.column_stack([malditof, bac[antibiotics]]))
trimmed_bac.columns = list(malditof.columns) + antibiotics
trimmed_bac

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,9994,9995,9996,9997,9998,9999,Ciprofloxacin,Ceftriaxone,Piperacillin-Tazobactam,Cefepime
0,743.500000,883.000000,971.666667,1057.500000,1049.0,1002.000000,724.500000,811.333333,803.000000,821.333333,...,180.0,115.0,91.0,123.0,139.0,34.541475,0.0,1.0,0.0,1.0
1,112.500000,109.666667,128.500000,86.666667,130.5,90.500000,102.666667,109.000000,86.500000,102.000000,...,239.0,261.0,206.0,249.0,231.0,108.593585,0.0,0.0,0.0,0.0
2,1711.000000,1624.500000,1555.000000,1746.500000,1680.5,1663.333333,1969.000000,1975.500000,1976.000000,1995.500000,...,561.0,518.0,574.0,488.0,522.0,175.325443,0.0,0.0,0.0,0.0
3,512.333333,472.000000,448.666667,400.000000,480.0,471.666667,401.500000,496.000000,512.333333,537.000000,...,1085.0,1066.0,1020.0,842.0,879.0,291.948352,0.0,0.0,0.0,0.0
4,715.000000,674.500000,620.333333,568.000000,634.0,614.000000,676.500000,733.333333,898.500000,798.500000,...,112.0,143.0,106.0,91.0,97.0,37.174491,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946,2222.000000,2153.500000,2246.666667,2446.500000,2612.5,2556.666667,2431.000000,2214.000000,2059.000000,1915.500000,...,37.0,34.0,71.0,54.0,44.0,8.802848,1.0,1.0,1.0,0.0
4947,3573.500000,2845.333333,2552.500000,2577.000000,2605.5,2646.000000,2469.000000,2439.000000,2494.666667,2516.500000,...,97.0,112.5,78.0,90.0,87.0,27.154554,1.0,0.0,0.0,0.0
4948,0.000000,0.000000,144.000000,182.666667,247.0,231.500000,243.666667,175.000000,154.666667,128.000000,...,0.0,0.0,2.0,2.0,0.0,0.836455,0.0,0.0,0.0,0.0
4949,58.000000,31.000000,52.500000,70.000000,63.5,99.000000,105.666667,91.000000,78.666667,104.500000,...,135.0,154.0,174.0,135.0,160.0,42.870570,0.0,0.0,0.0,0.0
4950,61.000000,55.000000,60.333333,72.000000,38.0,47.000000,34.500000,67.666667,71.500000,65.333333,...,178.0,167.0,239.0,232.0,303.0,38.760745,1.0,1.0,0.0,1.0

In [21]:
print(trimmed_bac.isna().sum())
print("\nTotal number of NA data: " + str(trimmed_bac.isna().sum().sum()))

2000                         0
2001                         0
2002                         0
2003                         0
2004                         0
                          ...
9999                         0
Ciprofloxacin               79
Ceftriaxone                 29
Piperacillin-Tazobactam    190
Cefepime                    98
Length: 8004, dtype: int64

Total number of NA data: 396

In [9]:
scrubbed_bac = trimmed_bac.dropna()
scrubbed_bac

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,9994,9995,9996,9997,9998,9999,Ciprofloxacin,Ceftriaxone,Piperacillin-Tazobactam,Cefepime
0,743.500000,883.000000,971.666667,1057.500000,1049.0,1002.000000,724.500000,811.333333,803.000000,821.333333,...,180.0,115.0,91.0,123.0,139.0,34.541475,0.0,1.0,0.0,1.0
1,112.500000,109.666667,128.500000,86.666667,130.5,90.500000,102.666667,109.000000,86.500000,102.000000,...,239.0,261.0,206.0,249.0,231.0,108.593585,0.0,0.0,0.0,0.0
2,1711.000000,1624.500000,1555.000000,1746.500000,1680.5,1663.333333,1969.000000,1975.500000,1976.000000,1995.500000,...,561.0,518.0,574.0,488.0,522.0,175.325443,0.0,0.0,0.0,0.0
3,512.333333,472.000000,448.666667,400.000000,480.0,471.666667,401.500000,496.000000,512.333333,537.000000,...,1085.0,1066.0,1020.0,842.0,879.0,291.948352,0.0,0.0,0.0,0.0
4,715.000000,674.500000,620.333333,568.000000,634.0,614.000000,676.500000,733.333333,898.500000,798.500000,...,112.0,143.0,106.0,91.0,97.0,37.174491,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946,2222.000000,2153.500000,2246.666667,2446.500000,2612.5,2556.666667,2431.000000,2214.000000,2059.000000,1915.500000,...,37.0,34.0,71.0,54.0,44.0,8.802848,1.0,1.0,1.0,0.0
4947,3573.500000,2845.333333,2552.500000,2577.000000,2605.5,2646.000000,2469.000000,2439.000000,2494.666667,2516.500000,...,97.0,112.5,78.0,90.0,87.0,27.154554,1.0,0.0,0.0,0.0
4948,0.000000,0.000000,144.000000,182.666667,247.0,231.500000,243.666667,175.000000,154.666667,128.000000,...,0.0,0.0,2.0,2.0,0.0,0.836455,0.0,0.0,0.0,0.0
4949,58.000000,31.000000,52.500000,70.000000,63.5,99.000000,105.666667,91.000000,78.666667,104.500000,...,135.0,154.0,174.0,135.0,160.0,42.870570,0.0,0.0,0.0,0.0
4950,61.000000,55.000000,60.333333,72.000000,38.0,47.000000,34.500000,67.666667,71.500000,65.333333,...,178.0,167.0,239.0,232.0,303.0,38.760745,1.0,1.0,0.0,1.0

In [20]:
print(scrubbed_bac.isna().sum())
print("\nTotal number of NA data: " + str(scrubbed_bac.isna().sum().sum()))

2000                       0
2001                       0
2002                       0
2003                       0
2004                       0
                          ..
9999                       0
Ciprofloxacin              0
Ceftriaxone                0
Piperacillin-Tazobactam    0
Cefepime                   0
Length: 8004, dtype: int64

Total number of NA data: 0

In [11]:
x = scrubbed_bac[scrubbed_bac.columns.drop(list(scrubbed_bac.filter(regex='[^0-9]')))]
y = scrubbed_bac[antibiotics]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [12]:
minmax_scaler = MinMaxScaler()
normalized_train_x = minmax_scaler.fit_transform(x_train)
normalized_test_x = minmax_scaler.transform(x_test)

In [13]:
train = pd.DataFrame(np.column_stack([x_train, y_train]))
train.columns = list(malditof.columns) + antibiotics

test = pd.DataFrame(np.column_stack([x_test, y_test]))
test.columns = list(malditof.columns) + antibiotics

# Saving Files

In [14]:
file_name_ext = os.path.basename(file)
file_name = os.path.splitext(file_name_ext)[0]
ext = os.path.splitext(file_name_ext)[1]
train_name = "data/processed/raw/train_"+file_name+ext
test_name = "data/processed/raw/test_"+file_name+ext

train.to_csv(train_name, index=False, mode='w')
test.to_csv(test_name, index=False, mode='w')